body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: white;
    padding: 10px;
}

.resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#resume-form{
    width: 350px;
    border: 1px solid black;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 213, 213);
    border: none;
    border-radius: 10px;
    
}

h1{
    text-align: center;
    font-size: 35px;
    color:black;
}

fieldset{
    width: 330px;
    padding: 15px; 
    margin: 20px; 
    background-color: white;
    border-radius: 5px;
    border: none;
    
}

legend{
    font-size: 25px;
    font-weight: bold;
    color: rgb(26, 25, 25);
}

label{
    color: black;  
    font-size: 17px;
}

input{
    height: 35px;
    width: 330px;
    border:1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
   
}

textarea{
    width: 330px;
    border-radius: 10px;
    padding: 5px;
    margin-top:5px;
    margin-bottom: 10px;
    font-size: 15px;
    border: 1px solid black;
    
}

button{
    width: 400px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;  
    border: none;
    background-color: rgb(165, 223, 223);
    transition: .4s;
    font-size: 17px;
    font-weight: 500;
}

button:hover{
    transform: scale(1.07);
}

#get-resume{
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(155, 153, 153);
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 233, 233);
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 1vw;
}

#get-resume h2{
    text-align: center;
    font-size: 40px;
    color: blue;
}

#get-resume h3{
    font-size: 25px;
    border-bottom: 1px solid black;
}

#get-resume p{
    font-size: 20px;
}



@media (max-width:600px) {
    #resume-form{
        width: 75vw;
        margin-top: 5vw;
        display: flex;
        align-items: center;
        margin-left: 5vw;
    }

    h1{
        text-align: center;
        font-size: 7vw;
        color:black;
    }

    legend{
        font-size: 5vw; 
    }

    fieldset{
        width: 20vw;
        padding: 15px; 
        margin: 20px; 
        background-color: white;
        border-radius: 5px;
        border: none;
        
    }
    
    input{
        height: 6vw;
        width: 65vw;
        border:1px solid black;
        border-radius: 10px;
        padding: 1.5vw;
        font-size: 3.5vw;
    }

    textarea{
        width: 65vw;
        padding: 1.5vw;
        font-size: 3.5vw;
        border-radius: 10px;
    }

    label{  
        font-size: 3.5vw;
    }

    button{
        width: 60vw;
        margin-top: 10px;
        padding: 2vw 4vw;
        border-radius: 10px;  
        border: none;
        background-color: rgb(165, 223, 223);
        transition: .4s;
        font-size: 4vw;
    }
    
    button:hover{
        transform: scale(1.01);
    }

    #get-resume{
        margin-top: 20px;
        border-radius: 5px;
        width: 65vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(236, 233, 233);
        margin-left: 10vw;
        padding-left: 20px;
    }
    
    #get-resume h2{
        text-align: center;
        font-size: 5vw;
    }
    
    #get-resume h3{
        font-size: 4vw;
    }
    
    #get-resume p{
        font-size: 3.5vw;
    }
    
       
}